 <!-- 搜索条件 -->
    <div class="filter-container">
      <!-- 标题搜索，过滤首尾空格 -->
      <el-input
        v-model.trim="listQuery.title"
        placeholder="回车搜索标题"
        style="width: 200px;"
        class="filter-item"
        @keyup.enter.native="handleFilter"/>
      <!-- 重要性筛选，添加清空选项，改变不触发查询 -->
      <el-select
        v-model="listQuery.importance"
        :placeholder="$t('table.importance')" 
        clearable="true"
        style="width: 90px"
        class="filter-item">
        <el-option
          v-for="(item,index) in importanceOptions"
          :key="index"
          :label="item.label"
          :value="item.value">
          <span>
            <svg-icon v-for="n in item.value" :key="n" icon-class="star"/>
          </span>
          <span>({{ item.label }})</span>
        </el-option>
      </el-select>
      <!-- 类型 -->
      <el-select
        v-model="listQuery.type"
        :placeholder="$t('table.type')"
        class="filter-item"
        style="width: 130px">
        <el-option
          v-for="item in calendarTypeOptions"
          :key="item.key"
          :label="item.display_name+'('+item.key+')'"
          :value="item.key"/>
      </el-select>
      <!-- 排序，改变触发查询 -->
      <el-select
        v-model="listQuery.sort"
        style="width: 140px"
        class="filter-item"
        @change="handleFilter">
        <el-option
          v-for="item in sortOptions"
          :key="item.value"
          :label="item.label"
          :value="item.value"/>

      </el-select>
      <!-- 搜索 -->
      <el-button
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter">{{ $t('table.search') }}</el-button>
      <!-- 添加 -->
      <el-button
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        icon="el-icon-edit"
        @click="handleCreate">{{ $t('table.add') }}</el-button>
      <!-- 导出 -->
      <el-button
        :loading="downloadLoading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload">{{ $t('table.export') }}</el-button>
      <!-- 动态列,动态列表需要绑定key -->
      <el-checkbox
        v-model="showReviewer"
        class="filter-item"
        style="margin-left:15px;"
        @change="tableKey=tableKey+1">{{ $t('table.reviewer') }}</el-checkbox>
    </div>
    <!-- 搜索条件结束 -->